{% extends 'layout.html' %}
<!--  -->
{% block title %}
<title>Register</title>
{% endblock %}
<!--  -->
{% block content %}
<div class="w-screen h-screen bg-slate-50 flex justify-center items-center">
  <div
    class="bg-white rounded shadow-lg h-2/3 w-2/3 m-auto p-4 flex items-center justify-between border border-gray-800 relative"
  >
    <span
      class="w-1/2 text-md font-semibold capitalize flex flex-col justify-center gap-y-8 h-full p-8 text-gray-500 flex-1"
    >
      <h1>Selamat Datang,</h1>
      <h1>
        Dokumentasikan ide-ide brilian Anda dengan mudah dan Jadikan hidup Anda
        lebih teratur dan produktif dengan aplikasi notebook.
      </h1>
      <span class="mt-4">
        <h1>best regargs,</h1>
        <h1>Xnerro</h1>
      </span>
    </span>
    <div
      class="self-start flex-1 p-8 w-full h-full flex gap-x-4 items-center relative justify-center"
    >
      <form
        action="/api/auth/register"
        method="post"
        class="w-full h-fit"
        id="form-register"
      >
        <div class="mb-6">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nama</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="input"
            placeholder="John Doe"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Alamat email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="input"
            placeholder="john.doe@company.com"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="input"
            placeholder="•••••••••"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="confirm_password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Confirm password</label
          >
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            hx-on:change="if(this.value !== htmx.find('#password').value){
              htmx.find('#submit').setAttribute('disabled', true)
              htmx.toggleClass(htmx.find('#password-error'), 'hidden')
            } else{
              htmx.toggleClass(htmx.find('#password-error'), 'hidden')
            }"
            class="input"
            placeholder="•••••••••"
            required
          />
        </div>
        <div class="mb-4">
          <div
            id="password-error"
            class="bg-red-300 text-red-600 w-full rounded hidden p-1 text-center mb-2"
          >
            <p>Password tidak sama</p>
          </div>
          <button
            type="submit"
            class="btn border border-black w-full"
            id="submit"
          >
            Daftar
          </button>
        </div>
        <div class="flex text-gray-400 w-full justify-center gap-x-2">
          <p>Sudah punya akun?</p>
          <a href="/login" hx-boost="true" class="text-blue-400 font-bold"
            >Login</a
          >
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</div>
